#
# Pecl Package Files
#
scrypt-*.tgz

#
# phpize & make related files
#

.deps
*.lo
*.la
.libs
ac*.m4
*.cache
build
config.guess
config.h*
config.s*
config.nice
config.log
libtool
configure*
install-sh
ltmain.sh
Makefile*
missing
mkinstalldirs
run-tests.php
modules

#
# Test Output
#
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh

#
# Visual Studio
#

*.suo
*.user
Debug/
Release/
bin/
obj/

#
# Random other things which we dont want commited
#

# Backups
*~

# Windows thumb nails
Thumbs.db

# OSX store fiels
.DS_Store
